.catalog__title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
}

.catalog__item {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-areas:
    "img    title"
    "img    info"
    "button button";
  width: 280px;
  padding: 20px 20px 25px;
}

@media screen and (min-width: 768px) {
  .catalog__item {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
  }
}

.catalog__link {
  text-decoration: none;
  width: 76px;
  height: 41px;
  margin-bottom: 14px;
}

.catalog__image {
  grid-area: img;
}

.catalog__caption {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  grid-area: title;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .catalog__caption {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__list-info {
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-area: info;
  margin-bottom: 17px;
}

.catalog__item-info {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  display: flex;
  width: 140px;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .catalog__item-info {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  grid-area: button;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-primary {
  @include button-primary($secondary-font, #ffffff, #68B738);
}

.button-secondary {
  @include button-secondary($secondary-font, #444444, #F2F2F2);
}

.catalog__item--more {
  background-color: #ffffff;
  display: block;
}

.catalog__caption-more {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  grid-area: title;
  margin: 0;
  text-align: center;
}

.catalog__text {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .catalog__text {
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog__item--more::before {
  content: "";
  background-image: url("../../icons/stack.svg#plus");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  position: absolute;
}
