.example__wrapper {
  width: 100%;
  padding: 25px 20px 40px;
  box-sizing: border-box;
  background-color: #eaeaea;
}

@media screen and (min-width: 768px) {
  .example__wrapper {
    background: linear-gradient(to top, #eaeaea 462px, #ffffff 462px);
    padding: 45px 30px 101px;
  }
}

@media screen and (min-width: 1440px) {
  .example__wrapper {
    width: 100%;
    background: #f2f2f2;
    padding: 0 110px 75px;
    position: relative;
  }
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px;
}

@media screen and (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .example__title {
    background-color: #ffffff;
    margin: 0 -110px;
    padding: 0 110px 76px;
  }
}

.example__description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  margin: 0 0 20px;
}

@media screen and (min-width: 768px) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 1440px) {
  .example__description {
    width: 436px;
    margin: 70px 0 69px;
  }
}

@media screen and (min-width: 768px) {
  .example__container {
    display: flex;
    margin-bottom: 99px;
  }
}

@media screen and (min-width: 1440px) {
  .example__container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.example__list {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin: 0 0 34px;
}

@media screen and (min-width: 768px) {
  .example__list {
    justify-content: left;
    gap: 43px;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .example__list {
    gap: 42px;
    margin-bottom: 55px;
  }
}

.example__item {
  width: 124px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding-top: 14px;
  padding-bottom: 17px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .example__item {
    width: 162px;
  }
}

.example__number {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .example__number {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__text {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #444444;
  text-transform: lowercase;
  margin: 0;
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translate(-50%);
  background-color: #eaeaea;
  padding: 0 14px;
  width: 87px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .example__text {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    top: 63px;
    left: 50%;
    width: 142px;
  }
}

@media screen and (min-width: 1440px) {
  .example__text {
    background-color: #f2f2f2;
  }
}

.example__comment {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .example__comment {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: auto;
    text-align: end;
    justify-content: center;
    gap: 9px;
  }
}

@media screen and (min-width: 1440px) {
  .example__comment {
    flex-direction: row;
    margin: 0;
    justify-content: start;
    gap: 63px;
  }
}

.example__slider {
  width: 280px;
  height: 256px;
  background-color: #eaeaea;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .example__slider {
    width: 560px;
    height: 512px;
  }
}

@media screen and (min-width: 1440px) {
  .example__slider {
    position: absolute;
    top: 0;
    left: auto;
    right: 110px;
  }
}

.example__slider-image {
  display: block;
  width: 280px;
  height: 256px;
}

@media screen and (min-width: 768px) {
  .example__slider-image {
    width: 560px;
    height: 512px;
  }
}

.example__slider-before {
  background-color: #eaeaea;
  width: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  display: block;
}

@media screen and (min-width: 768px) {
  .example__slider-before {
    background: linear-gradient(to bottom, #ffffff 151px, #eaeaea 151px);
  }
}

@media screen and (min-width: 768px) {
  .example__slider-after {
    background: linear-gradient(to bottom, #ffffff 151px, #eaeaea 151px);
  }
}

@media screen and (min-width: 1440px) {
  .example__slider-before {
    background: linear-gradient(to bottom, #ffffff 135px, #f2f2f2 135px);
  }
}

@media screen and (min-width: 1440px) {
  .example__slider-after {
    background: linear-gradient(to bottom, #ffffff 135px, #f2f2f2 135px);
  }
}

.example__slider-button {
  background-color: #666666;
  width: 4px;
  height: 100%;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
}

.example__slider-button:hover,
.example__slider-button:hover::after {
  background-color: #68b738;
}

.example__slider-button:active,
.example__slider-button:active::after {
  background-color: rgba(94, 170, 47, 0.6);
}

.example__slider-button::before {
  content: "";
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-sizing: border-box;
}

.example__slider-button:hover::before {
  border: 2px solid #68b738;
}

.example__slider-button:active::before {
  border: 2px solid rgba(94, 170, 47, 0.6);
}

.example__slider-button::after {
  content: "";
  background-color: #666666;
  width: 24px;
  height: 18px;
  position: absolute;
  mask-image: url("../../icons/stack.svg#slider");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  box-sizing: border-box;
}
