.main-footer__wrapper {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

@media screen and (min-width: 768px) {
  .main-footer__wrapper {
    padding: 55px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .main-footer__wrapper {
    padding: 66px 110px;
  }
}

.main-footer-logo {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .main-footer-logo {
    margin: 0;
    padding: 6px 0;
    align-items: center;
  }
}

.main-footer__logo-name {
  display: block;
  margin: 0 auto;
}

.main-footer-list {
  list-style-type: none;
  margin: 0;
  padding: 19px 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

@media screen and (min-width: 768px) {
  .main-footer-list {
    border: none;
    padding: 7px 0;
  }
}

.main-footer__link--vkontakte::before {
  content: "";
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#vkontakte");
  mask-size: 28px 22px;
  mask-position: 100%;
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
  display: block;
}

.main-footer__link--youtube::before {
  content: "";
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#youtube");
  mask-size: 28px 22px;
  mask-position: 100%;
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
  display: block;
}

.main-footer__link--telegram::before {
  content: "";
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#telegram");
  mask-size: 28px 22px;
  mask-position: 100%;
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
  display: block;
}

.main-footer__link--vkontakte:hover::before,
.main-footer__link--vkontakte:focus::before,
.main-footer__link--youtube:hover::before,
.main-footer__link--youtube:focus::before,
.main-footer__link--telegram:hover::before,
.main-footer__link--telegram:focus::before {
  background-color: #68b738;
}

.main-footer__link--vkontakte:active::before,
.main-footer__link--youtube:active::before,
.main-footer__link--telegram:active::before {
  opacity: 0.3;
}

.htmlacademy-link {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .htmlacademy-link {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    gap: 23px;
    margin: 0;
  }
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  color: #444444;
}

.htmlacademy-link:active {
  opacity: 0.3;
}

.htmlacademy-link::after {
  content: "";
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#htmlacademy-logo");
  mask-size: 27px 34px;
  mask-position: 100%;
  mask-repeat: no-repeat;
  width: 27px;
  height: 34px;
  display: block;
}

.htmlacademy-link:hover::after,
.htmlacademy-link:focus::after {
  background-color: #68b738;
}
