@media screen and (min-width: 768px) {
  .main-nav {
    margin-left: auto;
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

@media (width <= 767px) {
  .main-nav__list--open {
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 2;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__list {
    display: flex;
    gap: 33px;
  }
}

@media (width <= 767px) {
  .main-nav__item {
    width: 100%;
  }
}

.main-nav__item a {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: 0;
  color: #000000;
  display: block;
  padding: 22px 0;
  border-bottom: 1px solid #e6e6e6;
}

@media screen and (min-width: 768px) {
  .main-nav__item a {
    font-size: 18px;
    line-height: 24px;
    padding: 12px 0;
    border: none;
  }
}

@media screen and (min-width: 1440px) {
  .main-nav__item a {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}

@media screen and (min-width: 1440px) {
  .main-nav__item-catalog a {
    color: #111111;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__item--current {
    border-bottom: 2px solid #68b738;
    bottom: 4px;
  }
}

@media screen and (min-width: 1440px) {
  .main-nav__item--current {
    border-bottom: 2px solid #ffffff;
    bottom: 4px;
  }
}

@media screen and (min-width: 1440px) {
  .main-nav__item-catalog.main-nav__item--current {
    border-bottom: 2px solid #68b738;
  }
}

.main-nav__toggle {
  background-color: #ffffff;
  background-image: url("../../icons/stack.svg#burger-menu");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  display: block;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle--close {
  background-color: #ffffff;
  background-image: url("../../icons/stack.svg#close");
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
