.programs__list {
  list-style-type: none;
}

.programs__item {
  background-color: #f2f2f2;
  position: relative;
}

.programs__title {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}

.programs__description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}

.programs__link {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: 0;
  color: #000000;
}

.programs__link:hover {
  color: #000000;
}

.programs__link:active {
  opacity: 0.3;
}

.programs__item--slim::before {
  content: "";
  background-color: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
}

.programs__item--slim::after {
  content: "";
  background-image: url("../../icons/stack.svg#cat-weight-loss");
  background-size: 36px 50px;
  background-repeat: no-repeat;
  width: 36px;
  height: 50px;
  position: absolute;
  top: -3px;
  left: 7px;
}

.programs__item--pro::before {
  content: "";
  background-color: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
}

.programs__item--pro::after {
  content: "";
  background-image: url("../../icons/stack.svg#cat-weight-gain");
  background-size: 67px 28px;
  background-repeat: no-repeat;
  width: 67px;
  height: 28px;
  position: absolute;
  top: 11px;
  left: -9px;
}

.programs__link::after {
  content: "";
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#arrow");
  mask-size: 24px 12px;
  mask-repeat: no-repeat;
  mask-position: 100%;
  display: block;
  width: 24px;
  height: 12px;
}
