.subscribe__title {
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
}

.subscribe__description {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
}

.subscribe__input {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.catalog-additionally__button {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.button-primary {
  @include button-primary($secondary-font, #ffffff, #68B738);
}
